<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.badger.mr.music"
    android:versionCode="71"
    android:versionName="0.71" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:name=".MrMusic">
        <activity android:label="@string/app_name" android:name="MediaSources">
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="daap"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|orientation" android:name="org.mult.daap.ServerEditorActivity"></activity>
        <activity android:label="@string/media_playback_activity" android:launchMode="singleTop" android:name="org.mult.daap.MediaPlayback"></activity>
        <activity android:label="@string/playlist_browser_activity" android:name="org.mult.daap.PlaylistBrowser"></activity>
        <activity android:label="@string/add_server_menu_activity" android:name="org.mult.daap.AddServerMenu">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Preferences" android:name="org.mult.daap.Preferences"></activity>
        <service android:name="org.mult.daap.MediaPlaybackService" android:description="@string/media_playback_service_desc"></service>
        <receiver android:name="org.mult.daap.client.widget.DAAPClientAppWidgetOneProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.mult.daap.MediaButtonIntentReceiver"></receiver>
        <service android:name="DownloaderService" android:description="@string/downloader_service_desc"></service>
        <activity android:name=".download.DownloadBrowser"></activity>
        <activity android:name="MainPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>